@media (max-width: 1300px) {
  .theme-toggle {
    position: fixed;
    top: 95%;
    left: 94%;
  }
}

@media (max-width: 430px) {
  .theme-toggle {
    position: fixed;
    top: 95%;
    left: 85%;
  }
}

@media (max-height: 650px) {
  .contact-content {
    top: 60%;
  }

  .contact-heading {
    font-size: 1.2rem;
  }
}
