@media (max-width: 1300px) {
  .theme-toggle {
    position: fixed;
    top: 95%;
    left: 93%;
  }
}

@media (max-width: 700px) {
  .theme-toggle {
    position: fixed;
    top: 95%;
    left: 90%;
  }
}

@media (max-width: 600px) {
  .theme-toggle {
    position: fixed;
    top: 95%;
    left: 88%;
  }
}

@media (max-width: 430px) {
  .theme-toggle {
    position: fixed;
    top: 95%;
    left: 85%;
  }
}
